.blink {
    animation: blink-animation 0.3s steps(5, start) infinite;
    font-style: italic;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}